/* import fonts from fonts css file */
/* @import url(/fonts.css); */

/* import variables */
@import url(./partials/_variables.css);

/* Start navigation */
.header_area .main-menu .navbar-brand
{
    padding: 0 2rem 0 4rem;
    
}

.header_area .main-menu .navbar
{
    padding: 1rem 10rem;

}

.header_area .main-menu .navbar .nav-item .nav-link
{
    font: normal 500 15px/2px var(--roboto);
    color:var(--title-color);
    text-transform: uppercase;
    padding: 1.7rem;

}

.header_area .main-menu .navbar-nav .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* End navigation */

/* Start Banner Area */
.site-main .site-banner .site-title h3{
    padding-top: 15%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: '';
    background: black;
    height: 2px;
    width: 20vw;
    display: inline-block;
    margin-left: 5%;
    transform: translatey(-5px);
}

.site-main .site-banner .site-title h1{
    font-size: 3.5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.2rem;
}
.site-main .site-banner .banner-image > img{
    padding: 1rem;
    width: 130rem;
}

.title-text{
    font: normal bold 30px/72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

.button{
    padding: .5rem 2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 3px;
    margin: 0.5rem;
    /* border: 0; */
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background 0.5s ease;
    box-shadow: var(--box-shadow);
}
.button.primary-button:hover{
    background-clip: padding-box;
    background: whitesmoke;
    color: var(--primary-color);

}


.button.primary-button::after,
.button.secondary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: var(--gradient-color);
    content:'';
    z-index: -1;
    border-radius: 4px;

}


.button.secondary-button{
background: whitesmoke;
background-clip: padding-box;
transition: background 0.5s ease;
}


.button.secondary-button:hover{
    box-shadow: var(--box-shadow);
    /* background-clip: padding-box; */
    color: whitesmoke;
    background: var(--gradient-color);

}




/* End Banner Area */

/* start about area */

.site-main .about-area{
    padding: 8rem 5rem;

}
.site-main .about-area .about-title h2>span{
    display: block;
    font: normal bold 30px/40px var(--roboto);
    letter-spacing: 5px;
}

.site-main .about-area .about-title .paragraph>p{
padding: .4rem 0;
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
}

.site-main .about-area .about-image img{
    margin-top: 3.5rem;
    border-radius: 20px;
}
/* end about area */


